/*Add CSS styles here*/
.countries {
    fill: #fff;
    stroke: #CCC;
    stroke-width: 2px;
}

.states {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: #D5E3FF;
}

Map.map {
    margin: 10px 0 0 20px;
    }

.regions {
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.numbers {
    fill: white;
    font-family: sans-serif;
}

.mapTitle {
   text-align: center
}

.chartBackground {
    fill: rgba(128,128,128,.18);
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 3px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 1.2em;
    fill: #999;
}

.dropdown {
    position: relative;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #999;
    box-shadow: 2px 2px 4px #999;
}

Map.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

Map.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    line-height: 1em;
}